<h3>Podgląd pdf w Dialog Component z PrimeNG</h3>
<p-button (click)="showDialog()" icon="pi pi-external-link" label="Podgląd"></p-button>
<p-dialog header="Nagłówek" [(visible)]="visible" [style]="{width: '50vw'}">
  <pdf-viewer
      [src]="src"
      [rotation]="0"
      [original-size]="false"
      [show-all]="true"
      [fit-to-page]="false"
      [zoom]="1"
      [zoom-scale]="'page-width'"
      [stick-to-page]="false"
      [render-text]="true"
      [external-link-target]="'blank'"
      [autoresize]="true"
      [show-borders]="false"
      style="width: 100%; height: 600px;"
    ></pdf-viewer>
</p-dialog>
<h3>Podgląd pdf od razu na stronie</h3>
<ng-container *ngIf="src.endsWith('.pdf')">
  <pdf-viewer
      [src]="src"
      [rotation]="0"
      [original-size]="false"
      [show-all]="true"
      [fit-to-page]="false"
      [zoom]="1"
      [zoom-scale]="'page-width'"
      [stick-to-page]="false"
      [render-text]="true"
      [external-link-target]="'blank'"
      [autoresize]="true"
      [show-borders]="false"
      style="width: 300px; height: 300px;"
    ></pdf-viewer>
</ng-container>
<ng-container *ngIf="src.endsWith('.jpg')">
  <p-image src="https://primefaces.org/cdn/primeng/images/galleria/galleria1.jpg" alt="Image" width="250"></p-image>
</ng-container>
<ng-container *ngIf="src.endsWith('.txt')">
  <iframe 
      src="http://webref.pl/pliki/html/multimedia/przyklad.txt" 
      frameborder="0">
    </iframe>
</ng-container>